/* my font size's media query start */
html{
    font-size: 62.5%;
}

@media (min-width:1200px) {
    html{
        font-size: 68.75%;
    }
}

@media (min-width:1000px) {
    html{
        font-size: 68.75%;
    }
}

@media (max-width:992px) {
    html{
        font-size: 62.5%;
    }
}

@media (max-width:768px) {
    html{
        font-size: 56.25%;
    }
}

@media (max-width:576px) {
    html{
        font-size: 50%;
    }
}
/* my font size's media query end */


/* my unit convertor start */
html body{
    background-color: #202124;
    font-family: arial, sans-serif;
    color: rgb(189, 193, 198);
}

.unit-converter{
    border: .1rem solid #4b4b4b;
    margin: auto;
    margin-top: 10rem;
}

.select{
    font-size: 1.3rem;
    color: #bdc1c6;
    outline: none;
    background-color: #4b4b4b;
    border: .1rem solid #4b4b4b;
}

.input{
    font-size: 2rem;
    padding: .5rem .5rem .5rem 1rem ;
    background-color: transparent;
    border: .1rem solid #4b4b4b;
    outline: none;
    color: white;
}

input::placeholder{
    color: white;
}

.sec-heading{
    font-size: 1.7rem;
    text-transform: capitalize;
}

.heading{
    font-size: 4rem;
    text-transform: capitalize;
}

.equal-icon{
    font-size: 2rem;
    margin-top: 7.5rem;
}

#final-msg{
    font-size: 2rem;
    text-transform: capitalize;
}
/* my unit convertor end */





.rough{
    border: .1rem solid rgb(189, 193, 198);
}