/* my font size's media query start */
html{
    font-size: 62.5%;
}

@media (min-width:1200px) {
    html{
        font-size: 68.75%;
    }
}

@media (min-width:1000px) {
    html{
        font-size: 68.75%;
    }
}

@media (max-width:992px) {
    html{
        font-size: 62.5%;
    }
}

@media (max-width:768px) {
    html{
        font-size: 56.25%;
    }
}

@media (max-width:576px) {
    html{
        font-size: 50%;
    }
}
/* my font size's media query end */


/* my unit convertor start */
.unit-converter{
    background-color: rgb(102, 235, 235);
    margin: auto;
    margin-top: 10rem;
    border-radius: 1.5rem;
}

.select{
    font-size: 1.5rem;
}

.heading{
    font-size: 5rem;
    text-transform: capitalize;
}

.equal-icon{
    font-size: 2rem;
}

#final-msg{
    font-size: 2rem;
    text-transform: capitalize;
}

select , input{
    outline: none;
    border: .1rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem !important;
}
/* my unit convertor end */





.rough{
    border: .1rem solid black;
}